In [ ]:
a = ["現地気圧", "海面気圧", "降水合計", "1時間降水", "10分降水", "平均気温", "最高気温", "最低気温", "平均湿度", "最小湿度", "平均風速", "最大風速", "風向", "最大瞬間風速", "最大瞬間風向", "日照時間", "降雪", "積雪", "昼", "夜"]
a = [i + " REAL" for i in a]
a = ",".join(a)
a

In [ ]:
現地気圧 REAL,海面気圧 REAL,降水合計 REAL,1時間降水 REAL,10分降水 REAL,平均気温 REAL,最高気温 REAL,最低気温 REAL,平均湿度 REAL,最小湿度 REAL,平均風速 REAL,最大風速 REAL,風向 TEXT,最大瞬間風速 REAL,最大瞬間風向 TEXT,日照時間 REAL,降雪 REAL,積雪 REAL,昼 TEXT,夜 TEXT

In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

In [13]:
df = pd.read_csv("/Users/satoya01/Lectures/Lecture_2/ds_program/final/code/trash/spendings_std_1000.csv")
df["出費"] = df["出費"].round(-1).astype(int)
df

             年月日    出費
0     2023-01-01  3470
1     2023-01-02     0
2     2023-01-03     0
3     2023-01-04     0
4     2023-01-05     0
...          ...   ...
4375  2023-12-27     0
4376  2023-12-28     0
4377  2023-12-29  4170
4378  2023-12-30     0
4379  2023-12-31  3030

[4380 rows x 2 columns]

In [12]:
path = '../db/出費.csv'
df.to_csv(path, index=False)